<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Privacy Policy</title>
</head>
<body>
<h1>PIVACY POLICY OF TPO Baba messenger bot</h1>
<h3>
WHAT PERSONAL INFORMATION DOES TPO Baba COLLECT?
</h3>
<p>
  We collect the following types of information from our users:
</p>
<h3>
  Personal Information You Provide to Us:
</h3>
<p>
We may receive and store any information you submit to the Application (or otherwise authorize us to obtain – such as, from (for example) your Facebook account). The types of personal information collected may include your full name, email address, gender, and any other information necessary for us to provide the Application services.
Personal Information Collected Automatically:
</p>
<h3>
  HOW DOES TPO Baba USE THE INFORMATION IT COLLECTS?
</h3>
<p>
  The information is used to send updates about the companies to the user according to their course and department.
</p>
<h3>
WILL TPO Baba SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?
</h3>
<p>
Personal information about our users is an integral part of our the app. We neither rent nor sell your personal information to anyone.
</p>
<h3>
  CONDITIONS OF USE.
</h3>
<p>
  If you decide to use or otherwise access the Application, your use/access and any possible dispute over privacy is subject to this Privacy Statement and our Terms of Use, including limitations on damages, arbitration of disputes, and application of Indian penal code.
</p>
<h3>
  WHO IS SUPPOSED TO USE THE APPLICATION?
</h3>
<p>

Only students of Indian Institute of Technology (BHU), Varanasi, India are supposed to use the application.
</p>
<h3>

CHANGES TO THIS PRIVACY STATEMENT.
</h3>
<p>
TPO Baba will not update it's privacy statement.
</p>

<h3>

QUESTIONS OR CONCERNS.
</h3>
<p>

If you have any questions or concerns regarding privacy on our application, please send us a detailed message at rishabh.agrahari.eee15@iitbhu.ac.in .
We will make every effort to resolve your concerns.
</p>
</body>
</html>
